.changes-section {
  padding-top: pixelToOtherUnit(100, vw);
  padding-bottom: pixelToOtherUnit(115, vw);
  background-image: url(../img/changes-section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    padding-left: pixelToOtherUnit(14, vw);
    text-align: center;
    color: #fff;
  }
  .subtitle {
    padding-top: pixelToOtherUnit(9, vw);
    padding-left: pixelToOtherUnit(9, vw);
    text-align: center;
    color: #fff;
  }
  .item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33333333%;
    padding: 0 15px;
    .icon {
      display: block;
    }
    &.first {
      padding-top: pixelToOtherUnit(34, vw);
      transform: translateX(-4%);
      p {
        width: pixelToOtherUnit(321, vw);
      }
      .subtitle {
        padding-top: pixelToOtherUnit(15, vw);
      }
      .icon {
        width: pixelToOtherUnit(80, vw);
        height: pixelToOtherUnit(80, vw);
        background-image: url(../img/svg/changes-icon-1.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &.second {
      padding-top: pixelToOtherUnit(28, vw);
      p {
        width: pixelToOtherUnit(335, vw);
      }
      .subtitle {
        padding-top: pixelToOtherUnit(9, vw);
      }
      .icon {
        width: pixelToOtherUnit(92, vw);
        height: pixelToOtherUnit(92, vw);
        background-image: url(../img/svg/changes-icon-2.svg);
        backound-repeat: no-repeat;
        background-size: cover;
      }
    }
    &.third {
      padding-top: pixelToOtherUnit(40, vw);
      transform: translateX(6%);
      p {
        width: pixelToOtherUnit(260, vw);
      }
      .subtitle {
        padding-top: pixelToOtherUnit(20, vw);
      }
      .icon {
        width: pixelToOtherUnit(70, vw);
        height: pixelToOtherUnit(70, vw);
        background-image: url(../img/svg/changes-icon-3.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &.fourth {
      padding-top: pixelToOtherUnit(59, vw);
      transform: translateX(-4%);
      p {
        width: pixelToOtherUnit(295, vw);
      }
      .subtitle {
        padding-top: pixelToOtherUnit(13, vw);
      }
      .icon {
        width: pixelToOtherUnit(86, vw);
        height: pixelToOtherUnit(86, vw);
        background-image: url(../img/svg/changes-icon-4.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &.fifth {
      padding-top: pixelToOtherUnit(68, vw);
      p {
        width: pixelToOtherUnit(270, vw);
      }
      .subtitle {
        width: pixelToOtherUnit(270, vw);
        padding-top: pixelToOtherUnit(22, vw);
      }
      .icon {
        width: pixelToOtherUnit(78, vw);
        height: pixelToOtherUnit(68, vw);
        background-image: url(../img/svg/changes-icon-5.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &.sixth {
      padding-top: pixelToOtherUnit(60, vw);
      transform: translateX(6%);
      p {
        width: pixelToOtherUnit(300, vw);
      }
      .subtitle {
        padding-top: pixelToOtherUnit(16, vw);
      }
      .icon {
        width: pixelToOtherUnit(74, vw);
        height: pixelToOtherUnit(84, vw);
        background-image: url(../img/svg/changes-icon-6.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .subtitle {
      width: pixelToOtherUnit(245, vw);
      padding-top: 0;
      padding-left: 0;
      line-height: pixelToOtherUnit(33, vw);
      color: #000;
    }
    p {
      margin-top: pixelToOtherUnit(6, vw);
      line-height: pixelToOtherUnit(24, vw);
      font-size: pixelToOtherUnit(16, vw);
      text-align: center;
    }
  }
}
