.profile-section {
  position: relative;
  padding-top: pixelToOtherUnit(142, vw);
  padding-bottom: pixelToOtherUnit(132, vw);
  .info {
    margin-left: pixelToOtherUnit(77, vw);
    h2 {
      margin-bottom: pixelToOtherUnit(25, vw);
    }
    p {
      width: pixelToOtherUnit(590, vw);
      line-height: pixelToOtherUnit(28, vw);
      &.pd {
        margin-top: pixelToOtherUnit(9, vw);
      }
    }
    .btn-group {
      margin-top: pixelToOtherUnit(30, vw);
      .btn {
        &.google-play {
          margin-left: pixelToOtherUnit(15, vw);
        }
      }
    }
  }
  .feature-box {
    position: absolute;
    top: pixelToOtherUnit(56, vw);
    right: pixelToOtherUnit(438, vw);
    width: pixelToOtherUnit(347, vw);
    .feature {
      width: 100%;
    }
  }
}
